<h1>{{product.title}}</h1>

<img src="{{product.thumbnail}}" alt="{{product.title}}" style="max-width:300px;">

<p><strong>Precio:</strong> ${{product.price}}</p>
<p><strong>Categoria:</strong> {{product.category}}</p>
<p><strong>Articulos disponible:</strong> {{product.stock}}</p>
<p><strong>Descripcion:</strong> {{product.description}}</p>

<form action="/api/carts/{{cartId}}/products/{{product._id}}" method="POST">
  <label for="quantity">cantidad:</label>
  <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{product.stock}}" required>
  <button type="submit">Agregar al carrito</button>
</form>

